@charset "UTF-8";

/* Vou fazer o menu hamburguinho aparecer apenas em dispositivos de telas menores 
*/

@media screen and (min-width: 768px){
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
    
}